@import '@alfalab/core-components/vars/gaps.css';

.path-to-page {
    margin: 0;
    display: flex;
    gap: var(--gap-2xs);
    align-items: center;
    margin-bottom: var(--gap-6xl);
}

.path-to-page__text {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    cursor: pointer;
}

.path-to-page__image {
    margin: 0;
    width: 14px;
    height: 14px;
}