.popup {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(14, 14, 14, 0.3);
  justify-content: center;
  align-items: center;
  /* visibility: hidden;
    opacity: 0; */
  opacity: 1;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 2;
}

.popup_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  padding: 52px 40px 40px 40px;
  align-items: center;
}

.popup__button-close {
  position: absolute;
  background: url('/public/images/cross-small-icon.svg');
  width: 24px;
  height: 24px;
  border: none;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup__buttons {
  display: flex;
}

.popup__title {
  max-width: 181px;
  margin: 0 0 36px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
