.card {
  margin: var(--gap-2xl);
  width: 408px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  padding: var(--gap-xl);
  border-radius: 16px;
  box-shadow: 0px 7px 14px 0px rgba(14, 14, 14, 0.08);
}

.card__target {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--gap-s);
  border-bottom: 1px solid #d2d3d9;
  margin-bottom: var(--gap-xl);
}

.card__target-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  margin-bottom: var(--gap-s);
}

.card__target-title {
  margin: 0 5px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.card__input {
  width: auto;
  height: 30px;
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
  border-radius: 8px;
  background-color: #e7e8ea;
  /* margin-top: var(--gap-s); */
}

.card__input_white {
  background-color: white;
  border-radius: 0;
}

.card__input_border-none {
  border: none;
}

.card__trash {
  width: 20px;
  height: 20px;
}

.card__field-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
  margin: 0;
}

.card__date {
  background-color: #d2d3d9;
  width: 169px;
  height: 56px;
}

.card__condition {
  display: grid;
  grid-template-columns: 194px 194px;
  grid-template-rows: 20px 46px;
  gap: 12px 20px;
  margin-bottom: var(--gap-l);
}

.card__discription {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card__textarea {
  position: relative;
}

.card__textarea-button {
  background: url('/public/images/send-arrow-button-icon.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  border: none;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.card__list {
  margin-bottom: var(--gap-l);
}

.card__list-header {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d3d9;
}

.card__list-button {
  background: url('/public/images/chevron-down-icon.svg');
  width: 24px;
  height: 24px;
  border: none;
}

.card__list-title {
  margin: 0 0 0 14px;
}

.card__list-items {
  display: flex;
  flex-direction: column;
  counter-reset: list-counter;
  list-style-type: none;
  margin: 0;
  margin-top: var(--gap-s);
  padding: 0;
}

.card__list-item {
  display: flex;
  counter-increment: list-counter;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d3d9;
  margin-bottom: var(--gap-s);
  height: 20px;
  padding-left: 40px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-item-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.card__list-item-name::before {
  content: counter(list-counter) '.';
  margin-right: var(--gap-2xs);
}

.card__list-add {
  display: flex;
  margin-left: 40px;
  align-items: center;
  margin-left: var(--gap-3xl);
  border-bottom: 1px solid #d2d3d9;
}

.card__list-add-button {
  background: url('/public/images/plus-button-icon.svg');
  width: 13px;
  height: 13px;
  border: none;
  margin-right: var(--gap-xs);
}

.card__message-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: var(--gap-xs);
}

.card__message-item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: var(--gap-m);
}

.card__message-photo {
  width: 40px;
  height: 40px;
  margin-right: var(--gap-s);
}

.card__message-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__message-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  width: 100%;
  height: 18px;
  padding-bottom: 4px;
}

.card__message-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
