.footer {
    margin: 0;
    margin-top: var(--gap-6xl);
    border-top: 1px solid #F3F4F6;
}

.footer__up {
    padding: var(--gap-2xl) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 526px;
    height: 88px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--gap-l);
    column-gap: var(--gap-5xl);
}

.footer__list-element {
    list-style: none;
    height: 14px;
}

.footer__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--Text-Black, #0E0E0E);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer__contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.footer__app {
    margin: 0;
    display: flex;
    gap: var(--gap-s);
}

.footer__image-app {
    margin: 0;
    width: 36px;
    height: 36px;
}

.footer__app-text-container {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer__app-title {
    margin: 0;
    padding: 0;
    color: var(--Black, #0E0E0E);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.footer__app-footnote {
    margin: 0;
    padding: 0;
    color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 150% */
}

.footer__icons {
    margin: 0;
    display: flex;
    gap: var(--gap-s);
}

.footer__image-app {
    margin: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.footer__image-app:nth-child(2) {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    padding: 9px 9px;
    border-radius: 12px;
    background: var(--Gray-10, #F3F4F6);
}

.footer__down {
    margin: 0;
    padding-top: var(--gap-l);
    border-top: 1px solid #F3F4F6;
    display: flex;
    justify-content: space-between;
}

.footer__help-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xs);
    list-style: none;
}

.footer__help {
    margin: 0;
    padding: 0;
    color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.footer__button-help {
    color: var(--Text-Black, #0E0E0E);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}