.plan {
  display: flex;
  flex-direction: column;
}

.plan__content-buttons {
  display: flex;
  align-self: flex-end;
  margin-top: var(--gap-2xl);
}

.plan__newtarget {
  display: flex;
  align-self: flex-start;
  margin-bottom: var(--gap-l);
  align-items: center;
  cursor: pointer;
}

.plan__add-newtarget-button {
  background: url(/public/images/add-outline-icon.svg);
  width: 24px;
  height: 24px;
  margin-right: var(--gap-xs);
  border: none;
  cursor: pointer;
}

.plan__add-newtarget-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.plan__status {
  display: flex;
  margin-bottom: var(--gap-l);
}

.plan__status-title {
  margin: 0;
  margin-right: var(--gap-xs);
  color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.plan__status-type {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
