.headline-plan__container {
  display: flex;
  justify-content: space-between;
  width: 456px;
}

.headline-plan__title {
  margin: 0 var(--gap-xl) 0 0;
  color: var(--Text-Black, #0e0e0e);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  max-width: 394px;
}

.headline-plan__edit {
  width: 32px;
  height: 32px;
  border: none;
  background: url('../../../public/images/edit-icon.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 72%;
  cursor: pointer;
  align-self: center;
}

.headline-plan__title-edit {
  color: var(--Text-Gray-58, rgba(14, 14, 14, 0.58));
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  border: none;
  width: 500px;
}
